*.class
*.iml
*.jar
*.log
*.log.gz
*.tmp
.DS_Store
.bash_history
.calva
.eastwood
.idea
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port
build.xml
checkouts
classes
lib
logs
pom.xml
pom.xml.asc
target
.secrets
.clj-kondo
.lsp
.vscode